<%- include('../partials/encabezado'); %>
<%- include('../partials/navbar'); %>


<style>
    tr,td{
        border:2px solid red;
    }
</style>
<body>
    <div class="container mt-3">
        <table class="table table-striped">
            <thead>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Usuario</th>
                <th>Contraseña</th>
            </thead>
            <tbody>
        <% personasListadas.forEach(persona => { %>
                <tr>
                    <td><%=persona.nombre%></td>
                    <td><%=persona.email%></td>
                    <td><%=persona.usuario%></td>
                    <td><%=persona.contrasena%></td>
                </tr>
    
        <%})%>
            </tbody>
        </table>
    </div>
    

<%- include('../partials/footer'); %>